<div class="banner">
	<h1>This is the place where you can share <br> ideas with your friends!</h1>
	<button><%= link_to "Sign Up", new_user_registration_path %></button>
</div>

<div class="tagline">
	<p>Share what you have in your mind with friends. Find out what <br>they think about your ideas, discuss with them and make them happen!</p>
</div>

<div class="announcement">
	<h2>Soon! New features for ShareApp!</h2>
	<div class="container">
		<div class="soon" id="soon-1">
			<i class="fa fa-facebook-official"></i>
			<p>You will be able to sign up and in with your Facebook account. Simple!</p>
		</div>

		<div class="soon">
			<i class="fa fa-camera"></i>
			<p>You will be able to upload images to your ideas.</p>
		</div>

		<div class="soon" id="soon-2">
			<i class="fa fa-calendar"></i>
			<p>You will be able to add events to your calendar, let your friends know when the idea will happen.</p>
		</div>
	</div>
</div>

<footer>
    <p class="copyright">&copy; Alex Geogea</p>
</footer> 