// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
	background: url(../assets/images/banner.jpg) center center;
	background-size: cover;
	height: 500px;
	text-align: center;
	margin-top: -30px;
	h1 {
		font-size: 48px;
		font-weight: 700;
		color: #fff;
		padding-top: 100px;
	}
	button {
		margin-top: 20px;
		background: #085078;
		border: none;
		border-radius: 4px;
		padding: 10px 15px;
		a {
			text-decoration: none;
			font-size: 18px;
			color: #fff;
			font-weight: 700;
		}
		&:hover {
			background: rgba(8, 80, 120, 0.8);
		}
	}
}

.tagline {
	text-align: center;
	background: #fff;
	margin-top: -15px;
	p {
		padding: 40px;
		font-size: 18px;
		margin-top: 0px;
		font-weight: 700;
	}
}

.announcement {
	width: 100%;
	background: #EF8C30;
	
	margin-top: -20px;
	h2 {
		color: #fff;
		text-align: center;
		margin-bottom: 0px;
		padding-top: 50px;	
	}
	.container {
		display: flex;
		-webkit-flex-flow: row wrap;
		.soon {
			margin-top: 20px;
			width: 30%;
			float: left;
			padding: 20px 10px;
			text-align: center;
			i {
				color: #fff;
				font-size: 36px;
			}
			p {
				color: #fff;
				font-size: 16px;
				padding-bottom: 50px;
			}
		}
		#soon-1 {
			margin-left: 30px;
		}
		#soon-2 {
			margin-right: 30px;
		} 
	}
}

footer {
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	height: 50px;
	margin-top: -15px;
	bottom: 0;
	clear: both;
	vertical-align: center;
	.copyright {
		padding-top: 20px;
		color: #fff;
		font-weight: 700;
		font-size: 14px;
	}
}